body, html{
  margin: 0;
  padding: 0;
}
.ozzy img{
  margin-left: 40%;
  margin-top: 0;
  height: 200px
}
.home ul {
  text-align: center;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
}
.home ul li a{
  color: grey;
  text-decoration: none;
}
.home {
  background-color: lightgrey;
  height: 50px;
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 20px;
}

.profile{

}

.gallery{

}

.news{

}
.sport{

}
.contact{

}
.icons{
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button{
  font-size: 60px;
  border: 0;
  color: grey;
}
button:hover{
  background-color: white;
}
